<a href="https://colab.research.google.com/github/NicolasB19/CinD_23/blob/main/01_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range (0,11): print(i)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
# Example - with Text

print("Hello world")
print("First name: Nicolas", "Second name: Andres")
print("First name: Nicolas", "\tSecond name: Andres")
print("First name: Nicolas", "\nSecond name: Andres")

Hello world
First name: Nicolas Second name: Andres
First name: Nicolas 	Second name: Andres
First name: Nicolas
Second name: Andres

In [7]:
# Example - text and numbers

print("my lucky number is: 10")

my lucky number is: 10

### **Round**

It will tle us the control the decimal positions.

In [19]:
# Example 
# Consider 8.53214794
# Lets use round
round(8.53214794,0)
print("8.53214794,0")
round(8.53214794,0)

print("The approximation of",8.53214794, "with", 0, "decimals is:" , round(8.53214794,0))
print("The approximation of",8.53214794, "with", 1, "decimals is:" , round(8.53214794,1))

8.53214794,0
The approximation of 8.53214794 with 0 decimals is: 9.0
The approximation of 8.53214794 with 1 /tdecimals is: 8.5

In [41]:
print(0, "\t" , round(8.53214794,0))
print(1, "\t" , round(8.53214794,1))
print(2, "\t" , round(8.53214794,2))
print(3, "\t" , round(8.53214794,3))
print(4, "\t" , round(8.53214794,4))
print(5, "\t" , round(8.53214794,5))
print(6, "\t" , round(8.53214794,6))
print(7, "\t" , round(8.53214794,7))

0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532
4 	 8.5321
5 	 8.53215
6 	 8.532148
7 	 8.5321479

In [40]:
print("The approximation of",8.53214794, "with")
print("decimals" , " Result")
for i in range (0,8) : 
  print(i , "\t" , round(8.53214794,i))

The approximation of 8.53214794 with
decimals  Result
0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532
4 	 8.5321
5 	 8.53215
6 	 8.532148
7 	 8.5321479

In [49]:
print("The first" ,100, "multiples of",2, ":")
print("multiple" , " Result")
for i in range (1,101) : 
  print(i , "\t" , (2*i))

The first 100 multiples of 2 :
multiple  Result
1 	 2
2 	 4
3 	 6
4 	 8
5 	 10
6 	 12
7 	 14
8 	 16
9 	 18
10 	 20
11 	 22
12 	 24
13 	 26
14 	 28
15 	 30
16 	 32
17 	 34
18 	 36
19 	 38
20 	 40
21 	 42
22 	 44
23 	 46
24 	 48
25 	 50
26 	 52
27 	 54
28 	 56
29 	 58
30 	 60
31 	 62
32 	 64
33 	 66
34 	 68
35 	 70
36 	 72
37 	 74
38 	 76
39 	 78
40 	 80
41 	 82
42 	 84
43 	 86
44 	 88
45 	 90
46 	 92
47 	 94
48 	 96
49 	 98
50 	 100
51 	 102
52 	 104
53 	 106
54 	 108
55 	 110
56 	 112
57 	 114
58 	 116
59 	 118
60 	 120
61 	 122
62 	 124
63 	 126
64 	 128
65 	 130
66 	 132
67 	 134
68 	 136
69 	 138
70 	 140
71 	 142
72 	 144
73 	 146
74 	 148
75 	 150
76 	 152
77 	 154
78 	 156
79 	 158
80 	 160
81 	 162
82 	 164
83 	 166
84 	 168
85 	 170
86 	 172
87 	 174
88 	 176
89 	 178
90 	 180
91 	 182
92 	 184
93 	 186
94 	 188
95 	 190
96 	 192
97 	 194
98 	 196
99 	 198
100 	 200